<header role="eui-banner">
  <div class="content">
    <div class="col-6">
      <div class="eui-masthead-logo eui-application-logo" id="masthead-logo">
        <%= link_to root_path do %>
            <h1>Metadata Management Tool <span class="eui-badge--sm">BETA</span></h1>
        <% end %>
      </div>

      <!-- Display provider context badge -->
      <div class="provider-context">
        <% if logged_in? && @current_user.provider_id %>
          <span class="eui-badge--sm daac"><%= @current_user.provider_id %></span>
        <% end %>
      </div>
      <!-- End provider context badge -->

      <section id="user-info" role="navigation">
        <% if logged_in? %>
          <p><strong><%= session[:name] %></strong></p>
          <a href="#provider-context" id="change-context" class="display-modal">Change Provider</a>
          <%= link_to 'Logout', logout_path %>
          <!-- <a href="#">Account Settings</a> -->
        <% end %>
      </section>
    </div>
    <div class="col-6 header-tools">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <% if controller_name.include? 'welcome'%>
        <%= link_to 'Earthdata Login', login_path, class: 'eui-btn--blue' %>
      <% else %>
        <section id="search" class="full-width">
          <%= render 'shared/search_form' %>
        </section>
      <% end %>
    </div>
  </div>
</header>

<noscript>
  <div id='javascript_warning' class="eui-banner--danger">
    <p class="eui-banner__message">
      <strong> JavaScript is disabled! </strong> JavaScript must be enabled for some features to work.
    </p>
  </div>
</noscript>

<% if logged_in? && @current_user.provider_id.nil? %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#change-context').click();
    });
  </script>
<% end %>

<div id="provider-context">
  <% if logged_in? && @current_user.available_providers %>
    <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
    <div>
      <% if @current_user.available_providers.size > 1 %>
        <p>
          Please select your provider context. You can change your context at any point.
        </p>

        <p>
          <%= form_tag set_provider_path, method: 'post' do %>
            <%= select_tag 'select_provider', options_for_select(@current_user.available_providers.unshift(['Select Provider', '']), @current_user.provider_id), class: 'single-select' %>
          <% end %>
        </p>
      <% elsif @current_user.available_providers.size == 1 %>
        <p>
          You only have one available provider, <%= @current_user.provider_id %>
        </p>
      <% else %>
        <p>
          You do not have any available providers. Please contact your provider to have your permissions granted.
        </p>
      <% end %>

      <p>
        <%= link_to 'Refresh your available providers', refresh_user_providers_path, class: 'refresh-providers spinner' %>
      </p>
    </div>
  <% end %>
</div>
