<div class="preview-collection">
  <% if (metadata['ScienceKeywords']).blank? %>
    <p class="empty-section">There are no science keywords for this collection.</p>
  <% end %>
  <% if metadata['ScienceKeywords'] %>
    <ul class="science-keywords-preview is-condensed">
      <h5>
        Science Keywords
        <% if @draft.present? %>
          <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Science Keywords</span>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', { anchor: 'descriptive_keywords' }), { class: 'hash-link' } %>
        <% end %>
      </h5>
      <% keywords = metadata['ScienceKeywords'] || [] %>
      <% if keywords.size > 0 %>
        <li class="top_field science-keywords">
          <% keywords.each_with_index do |keyword| %>
            <ul class="arrow-tag-group-list">
              <% keyword.each do |_key, value| %>
                <li class="arrow-tag-group-item">
                  <%= value %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless metadata['AncillaryKeywords'].blank? && metadata['ISOTopicCategories'].blank? %>
    <div class="eui-accordion is-closed other-descriptive-keywords-preview">
      <div class="eui-accordion__header">
        <h5 class="eui-accordion__title">Other Descriptive Keywords</h5>
        <div class="eui-accordion__icon" tabindex="0">
          <i class="eui-icon eui-fa-chevron-circle-down"></i>
          <span class="eui-sr-only">Toggle Other Descriptive Keywords Fields</span>
        </div>
      </div>
      <div class="eui-accordion__body">
        <div class="row">
          <% if metadata['AncillaryKeywords'] %>
            <div class="col-6">
              <h6>Ancillary Keywords</h6>
              <ul class="ancillary-keywords is-condensed">
                <% metadata['AncillaryKeywords'].each do |ancillary_keyword| %>
                  <li><%= ancillary_keyword %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <% if metadata['ISOTopicCategories'] %>
            <div class="col-6">
              <h6>ISO Topic Categories</h6>
              <ul class="iso-topic-categories is-condensed bullets">
                <% metadata['ISOTopicCategories'].each do |iso_topic_category| %>
                  <li><%= iso_topic_category %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <% if metadata['AdditionalAttributes'] %>
          <h5>
            Additional Attributes
            <% if @draft.present? %>
              <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Additional Attributes</span>'.html_safe, draft_edit_form_path(@draft, 'descriptive_keywords', { anchor: 'additional-attributes' }), { class: 'hash-link' } %>
            <% end %>
          </h5>
          <ul class="additional-attributes-preview cards">
            <% metadata['AdditionalAttributes'].each_with_index do |additional_attribute, index| %>
              <li class="additional-attribute-<%= index %> card full">
                <div class="card-header">
                  <% if additional_attribute['Name'].blank? %>
                    <h6 class="card-header-title">Additional Attribute</h6>
                  <% else %>
                    <h6 class="card-header-title"><%= additional_attribute['Name'] %></h6>
                    <span class="card-header-badge steel-blue"><%= additional_attribute['DataType'] %></span>
                  <% end %>
                </div>
                <div class="card-body active fluid-height">
                  <div class="card-body-details-full">
                    <%= additional_attribute['Description'] %>
                    <table class="card-table">
                      <thead>
                        <tr>
                          <th>Resolution</th>
                          <th>Range Begin</th>
                          <th>Range End</th>
                          <th>Unit of Measure</th>
                          <th>Accuracy</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= additional_attribute['MeasurementResolution'] %></td>
                          <td><%= additional_attribute['ParameterRangeBegin'] %></td>
                          <td><%= additional_attribute['ParameterRangeEnd'] %></td>
                          <td><%= additional_attribute['ParameterUnitsOfMeasure'] %></td>
                          <td><%= additional_attribute['ParameterValueAccuracy'] %></td>
                        </tr>
                      </tbody>
                    </table>
                    <p><%= additional_attribute['ValueAccuracyExplanation'] %></p>
                  </div>
                </div>
                <% unless additional_attribute['Group'].blank? && additional_attribute['UpdateDate'].blank? %>
                  <div class="card-footer">
                    <% unless additional_attribute['Group'].blank? %>
                      <p><%= additional_attribute['Group'] %></p>
                    <% end %>
                    <% unless additional_attribute['UpdateDate'].blank? %>
                      <p>Updated <%= additional_attribute['UpdateDate'].split('T')[0] %></p>
                    <% end %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
