<main class="internal record" role="main">
  <header>
    <div class="row content">
      <div class="collection-basics">
        <div class="eui-breadcrumbs">
        </div>
        <h2><%= display_entry_id(metadata, 'collection') %></h2>
        <p class="subtitle"><%= display_collection_entry_title(metadata) %></p>
        <% unless @error %>
          <p class="subnav current">Published Record</p>
          <p class="subnav">
          </p>
        <% end %>
      </div>
      <% unless @user_permissions == 'none' %>
        <div class="collection-details">
          <!-- Only display version if one exists. -->
          <% if metadata["Version"] %>
            <span class="eui-badge version">Version <%= metadata["Version"]%></span>
          <% end %>
          <!-- Only display data language if one exists. -->
          <% if metadata["DataLanguage"] %>
            <span class="eui-badge language"><%= metadata["DataLanguage"]%></span>
          <% end %>
          <!-- Only display CollectionDataType if it is NRT. -->
          <% if metadata["CollectionDataType"] == "NEAR_REAL_TIME" %>
            <span class="eui-badge nrt">NRT</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </header>

  <%= render 'shared/flash_messages' %>

  <% if @user_permissions == 'none' %>
    <div class="eui-banner--danger">
      <p class="eui-banner__message">
        <%= "You don't have the appropriate permissions to #{@collection_action} this collection." %>
      </p>
    </div>
    <div class="no-access">
      <h3 class="access-title">Access Denied</h3>
      <p class="access-message">
        It appears you do not have access to <%= @collection_action %> this content.<br />
        If you feel you should have access, please check with your provider manager or ensure you are logged into the correct provider.
      </p>
    </div>
  <% elsif @user_permissions == 'wrong_provider' %>
    <div class="eui-banner--warn">
      <p class="eui-banner__message">
        <%= link_to("You need to change your current provider to #{@collection_action} this collection. Click here to change your provider.",
          "#", id: "change-current-provider-banner-link",
          data: { "provider"=> @provider_id, action_link: "change-provider-#{@collection_action}-collection" }) %>
      </p>
      <%= render_change_provider_collection_action_link(@collection_action, @concept_id, @revision_id) %>
    </div>
  <% end %>

  <% unless @user_permissions == 'none' %>
    <% if @old_revision %>
      <div class="eui-banner--info">
        <p class="eui-banner__message">
          <%= link_to 'You are viewing an older revision of this collection. Click here to view the latest published version.', collection_path %>
        </p>
      </div>
    <% end %>

    <% if @draft %>
      <div class="eui-banner--warn">
        <p class="eui-banner__message">
          <% if @current_user.provider_id == @provider_id %>
            <%= link_to 'This collection has an open draft associated with it. Click here to view it.', @draft %>
          <% elsif @current_user.available_providers.include?(@provider_id) %>
            <%= link_to 'This collection has an open draft associated with it. Click here to view it.', '#not-current-provider-modal', class: 'display-modal not-current-provider', data: { 'provider'=> @provider_id, record_action: 'view-draft' } %>
          <% end %>
        </p>
      </div>
    <% end %>

    <div class="row row-content">
      <% if @error %>
        <div class="eui-banner--info">
          <p class="eui-banner__message">
            <%= @error %>
          </p>
        </div>
      <% else %>
        <!-- <section class="action">

        </section> -->

        <%= render partial: 'shared/preview/metadata_preview', locals: { metadata: metadata, relative_root_url: relative_root_url} %>
      <% end %>
    </div>
  <% end %>
</main>
