<%
# Expected arguments
# * umm_json - A string containing UMM JSON of the collection
# * relative_root_url - A string containing the root of the application URL that's always present.

require 'json'
metadata =  JSON.parse(umm_json)

services = additional_information['services']
services_array = []
services&.each do |service|
  services_array << JSON.parse(service)
end

tools = additional_information['tools']
tools_array = []
tools&.each do |tool|
  tools_array << JSON.parse(tool)
end

additional_information_hash = { 'services' => services_array }
additional_information_hash['tools'] = tools_array
additional_information_hash['granule_count'] = additional_information['granule_count'] || 0
additional_information_hash['root_url'] = additional_information['root_url']

%>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"  lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"  lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= metadata['EntryTitle']%></title>
  <link rel="shortcut icon" href="<%=search_public_root_url%>favicon.ico">
  <meta name="description" content="">
  <%= csrf_meta_tag %>
  <link href="https://cdn.earthdata.nasa.gov/eui/1.1.3/stylesheets/application.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css">
  <link href="<%=search_public_root_url%>site/css/eui.css" rel="stylesheet" />
  <link href="<%=search_public_root_url%>site/css/cmr.css" rel="stylesheet" />

  <%= stylesheet_link_tag relative_root_url + "/stylesheets/application", media: 'all' %>
  <%= javascript_include_tag relative_root_url + "/javascripts/application" %>

</head>

<body class="">
  <header class="doc-mast">
    <div class="container">
      <div class="eui-masthead-logo eui-application-logo">
        <h1><a href="../../../">CMR Search</a></h1>
      </div>
     </div>
  </header>
  <div class="row row-content">
      <%= render partial: 'cmr_metadata_preview/metadata_preview', locals: { metadata: metadata, edsc_url: edsc_url, concept_id: concept_id, additional_information: additional_information_hash} %>
    </div>
</body>
</html>
