<div class="preview-collection eui-accordion">
  <div class="eui-accordion__header">
    <h4 class="eui-accordion__title">Data Identification Fields:</h4>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Data Identification Fields</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <ul class="data-identification-preview">
      <% if metadata['DataDates'] %>
        <h5>
          Data Dates
          <% if @draft.present? %>
            <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Data Dates</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'data-dates' }), { class: 'hash-link' } %>
          <% end %>
        </h5>
        <table class="data-dates-table">
          <% metadata['DataDates'].each do |data| %>
            <tr>
              <td><%= map_value_onto_display_string(data["Type"], DraftsHelper::DateTypeOptions) %></td>
              <td><%= data["Date"] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <div class="row">
        <div class="processing-level col-6">
          <h5>
            Processing Level
            <% if @draft.present? %>
              <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Processing Level</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'processing-level' }), { class: 'hash-link' } %>
            <% end %>
          </h5>
          <% if metadata['ProcessingLevel'].blank? %>
            <p class="empty-section">This collection's processing level has not been specified.</p>
          <% else %>
            <% processing_level = metadata['ProcessingLevel'] %>
            <p><%= processing_level['Id'] %></p>
            <p><%= processing_level['ProcessingLevelDescription'] %></p>
          <% end %>
        </div>
        <div class="quality col-6">
          <h5>
            Quality
            <% if @draft.present? %>
              <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Quality</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'quality' } ), { class: 'hash-link' } %>
            <% end %>
          </h5>
          <%= metadata['Quality'] %>
        </div>
      </div>

      <% if metadata['UseConstraints'] %>
        <h5>
          Use Constraints
          <% if @draft.present? %>
            <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Use Constraints</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'use-constraints' }), { class: 'hash-link' } %>
          <% end %>
        </h5>
        <%= metadata['UseConstraints'] %>
      <% end %>

      <% if metadata['AccessConstraints'] %>
        <h5>
          Access Constraints
          <% if @draft.present? %>
            <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Access Constraints</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'access-constraints' }), { class: 'hash-link' } %>
          <% end %>
        </h5>
        <p><%= metadata['AccessConstraints']['Value'] %></p>
        <p><%= metadata['AccessConstraints']['Description'] %></p>
      <% end %>

      <% if metadata['MetadataAssociations'] %>
      <h5>
        Metadata Associations
        <% if @draft.present? %>
          <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Metadata Associations</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'metadata-associations' }), { class: 'hash-link' } %>
        <% end %>
      </h5>
      <table class="metadata-associations-table">
        <thead>
          <tr>
            <th>Association Type</th>
            <th>Entry ID</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% metadata['MetadataAssociations'].each do |metadata_association| %>
            <tr>
              <td><%= map_value_onto_display_string(metadata_association["Type"], DraftsHelper::MetadataAssociationTypeOptions) %></td>
              <td><%= metadata_association["EntryId"] %></td>
              <td><%= metadata_association["Description"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <% if metadata['PublicationReferences'] %>
        <h5>
          Publication References
          <% if @draft.present? %>
            <%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Publication References</span>'.html_safe, draft_edit_form_path(@draft, 'data_identification', { anchor: 'publication-reference' }), { class: 'hash-link' } %>
          <% end %>
        </h5>

        <ul class="publication-reference-cards cards">
          <% metadata['PublicationReferences'].each do |publication| %>
            <li class="card">
              <div class="card-header">
                <% if publication['Title'].blank? %>
                  <h5 class="card-header-title">Publication reference title not provided</h5>
                  <% else %>
                  <h5 class="card-header-title"><%= publication['Title'] %></h5>
                <% end %>
                <% if publication['PublicationDate'] %>
                  <span class="card-header-badge"><%= publication['PublicationDate'].split('T')[0] %></span>
                <% end %>
              </div>
              <div class="card-body fluid-height active">
                <div class="card-body-details-full">
                  <div class="row">
                    <div class="col-6">
                      <% if publication['Publisher'] %>
                        <p>
                          <span class="label">Publisher</span>
                          <%= publication['Publisher'] %>
                        </p>
                      <% end %>

                      <% if publication['Author'] %>
                        <p>
                          <span class="label">Author(s)</span>
                          <%= publication['Author'] %>
                        </p>
                      <% end %>

                    </div>
                    <div class="col-6">
                      <% if publication['Series'] %>
                        <p><%= publication['Series'] %></p>
                      <% end %>
                      <% if publication['Edition'] %>
                        <p><b>Edition: </b><%= publication['Edition'] %></p>
                      <% end %>
                      <% if publication['Volume'] %>
                        <p><b>Vol: </b><%= publication['Volume'] %></p>
                      <% end %>
                      <% if publication['Issue'] %>
                        <p><b>Iss: </b><%= publication['Issue'] %></p>
                      <% end %>
                      <% if publication['Pages'] %>
                        <p><b>Pages: </b><%= publication['Pages'] %></p>
                      <% end %>
                      <% if publication['DOI'] && publication['DOI']['DOI'] %>
                        <p><b>DOI: </b><%= publication['DOI']['DOI'] %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% if publication['RelatedUrl'] %>
                <div class="card-body">
                  <div class="card-body-details-full">
                    <ul>
                      <% if publication['RelatedUrl'] && publication['RelatedUrl']['URLs'] %>
                        <% publication['RelatedUrl']['URLs'].each do |url| %>
                          <li>
                            <i class="fa fa-external-link"></i>
                            <%= link_to url, url %>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
              <div class="card-navigation">
                <ul>
                  <li class="card-navigation-control">
                    <a href="" class="card-navigation-control-back">
                      <i class="fa fa-chevron-left"></i>
                    </a>
                  </li>
                  <li class="card-navigation-pagination">
                    <i class="fa fa-circle"></i>
                    <% if publication['RelatedUrl']%>
                      <i class="fa fa-circle-o"></i>
                    <% end %>
                  </li>
                  <li class="card-navigation-control">
                    <a href="" class="card-navigation-control-forward">
                      <i class="fa fa-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>
</div>
