<div class="metadata-information-preview preview-collection">
  <% if (metadata['MetadataLanguage'] or metadata['MetadataDates'] or metadata['DirectoryNames']).blank? %>
    <p class="empty-section">There are no additional metadata details for this collection.</p>
  <% else %>
    <% if metadata['MetadataDates'] %>
      <h5>Metadata Dates</h5>
      <table class="metadata-dates-table">
        <% metadata['MetadataDates'].each do |data| %>
          <tr>
            <td><%= map_value_onto_display_string(data["Type"], DraftsHelper::DateTypeOptions) %></td>
            <td><%= data["Date"] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if metadata['DirectoryNames'] %>
      <h5>Directory Names</h5>
      <table class="directory-names-table">
        <% metadata['DirectoryNames'].each do |data| %>
          <tr>
            <td><%= data["ShortName"] %></td>
            <td><%= data["LongName"] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if metadata['MetadataLanguage'] %>
      <% unless metadata['MetadataLanguage']['eng'] %>
        <h5>Metadata Language</h5>
        <p><%= metadata['MetadataLanguage'] %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
