<div class="preview-collection eui-accordion">
  <div class="eui-accordion__header">
    <h4 class="eui-accordion__title">Organizations</h4>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Organizations</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <% if metadata['Organizations'].blank? %>
      <p class="empty-section">
        There are no listed organizations for this collection.
      </p>
    <% else %>
      <ul class="organizations-cards cards">
        <% metadata['Organizations'].each_with_index do |org, org_index| %>
          <% party = org['Party'] || {} %>
          <% organization_name = party['OrganizationName'] || {} %>
          <li class="card">
            <div class="card-header">
              <h5 class="card-header-title">
                <%= organization_name['ShortName'] || "Organization #{org_index + 1}" %>
              </h5>
              <% if org['Role'] %>
                <span class="card-header-badge">
                  <%= org['Role'] %>
                </span>
              <% end %>
            </div>
            <div class="card-body active">
              <div class="card-body-details">
                <h6><%= organization_name['LongName'] %></h6>
                <% if party['Addresses'].blank? %>
                  <p class="empty-section">
                    This organization does not have any addresses listed.
                  </p>
                <% else %>
                  <p>
                    <% address = party['Addresses'].first || {} %>
                    <% street_address = address['StreetAddresses'] || [] %>
                    <% if street_address[0] %>
                      <%= street_address[0] %><br />
                    <% end %>
                    <% if street_address[1] %>
                      <%= street_address[1] %><br />
                    <% end %>
                    <% if street_address[2] %>
                      <%= street_address[2] %><br />
                    <% end %>
                    <% if address['City'] %>
                      <%= address['City'] %>,
                    <% end %>
                    <% if address['StateProvince'] %>
                      <%= address['StateProvince'] %>
                    <% end %>
                    <% if address['PostalCode'] %>
                      <%= address['PostalCode'] %>
                    <% end %>
                  </p>
                <% end %>
              </div>
              <div class="card-body-aside">
                <h6><%= party['ServiceHours'] %></h6>
                <% if party['Contacts'].blank? %>
                  <p class="empty-section">
                    This organization does not have any contacts listed.
                  </p>
                <% else %>
                  <ul>
                    <% party['Contacts'].each do |contact| %>
                      <li>
                        <% if contact["Type"] == 'Phone' %>
                          <i class="fa fa-phone-square"></i>
                          <%= contact['Value'] %>
                        <% end %>
                        <% if contact["Type"] == 'Email' %>
                          <i class="fa fa-envelope"></i>
                          <a href="mailto:<%= contact['Value'] %>" title="<%= contact['Value'] %>">Email</a>
                        <% end %>
                        <% if contact["Type"] == 'Twitter' %>
                          <i class="fa fa-twitter-square"></i>
                          <a href="<%= contact['Value'] %>">Twitter</a>
                        <% end %>
                        <% if contact["Type"] == 'Facebook' %>
                          <i class="fa fa-facebook-square"></i>
                          <a href="<%= contact['Value'] %>">Facebook</a>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <% if party['Addresses'] && party['Addresses'].length > 1 %>
              <% party['Addresses'].drop(1).each do |address| %>
                <div class="card-body">
                  <div class="card-body-details-full">
                    <h6>Additional Address</h6>
                    <p>
                      <% street_address = address['StreetAddresses'] || [] %>
                      <% if street_address[0] %>
                        <%= street_address[0] %><br />
                      <% end %>
                      <% if street_address[1] %>
                        <%= street_address[1] %><br />
                      <% end %>
                      <% if street_address[2] %>
                        <%= street_address[2] %><br />
                      <% end %>
                      <% if address['City'] %>
                        <%= address['City'] %>,
                      <% end %>
                      <% if address['StateProvince'] %>
                        <%= address['StateProvince'] %>
                      <% end %>
                      <% if address['PostalCode'] %>
                        <%= address['PostalCode'] %>
                      <% end %>
                    </p>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if party['ContactInstructions'] %>
              <div class="card-body">
                <div class="card-body-details-full">
                  <h6>Contact Details</h6>
                  <p><%= party['ContactInstructions'] %></p>
                </div>
              </div>
            <% end %>
            <% if party['RelatedUrls'] %>
              <div class="card-body">
                <div class="card-body-details-full">
                  <ul>
                    <% party['RelatedUrls'].each do |related_url| %>
                      <% if related_url['URLs'] %>
                        <% related_url['URLs'].each do |url| %>
                          <li>
                            <i class="fa fa-external-link"></i>
                            <%= link_to url, url %>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="card-navigation">
              <ul>
                <li class="card-navigation-control">
                  <a href="" class="card-navigation-control-back">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                </li>
                <li class="card-navigation-pagination">
                  <i class="fa fa-circle"></i>
                  <% if party['Addresses'] %>
                    <% (party['Addresses'].length - 1).times do %>
                      <i class="fa fa-circle-o"></i>
                    <% end %>
                  <% end %>
                  <% if party['ContactInstructions'] %>
                    <i class="fa fa-circle-o"></i>
                  <% end %>
                  <% if party['RelatedUrls'] %>
                    <i class="fa fa-circle-o"></i>
                  <% end %>
                </li>
                <li class="card-navigation-control">
                  <a href="" class="card-navigation-control-forward">
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
